#pomodoro-timer {
	position: relative;
	margin: 0 auto;
	width: 280px; /* approx width of elements, use for margin 0 auto */
	padding-left: 10px; /* compensate for emoji size */
}

#timer-display {
	font-size: 70px;
	margin-top: 8px;
	margin-bottom: 10px;
}

button {
	width: 130px; /* approx width of timer-display */
}
