#pomodoro-timer {
	display: grid;
	margin-top: 10px;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 25px;
	justify-items: center;
	align-items: center;
	height: 100%;
	font-size: 2em;
}

#tomato-display {
	display: flex;
	position: relative;
	width: 50px;
	height: 50px;
	background-color: transparent;
	border-radius: 25px;
}

#seconds-left-display {
	font-size: 2em;
}

button {
	width: 100px;
}
