#pomodoro-timer {
	display: inline-flex;
	flex-direction: column;
	font-size: 70px; /* arbitrary, looks good */
	width: 320px; /* width of my side windows */
}

#pomodoro-timer > * {
	padding-top: 8px; /* arbitrary, looks good */
	display: flex;
	justify-content: center;
}

#emoji {
	margin-top: -5px; /* position relative to number looks better */
}
